body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
    letter-spacing: 0.5px; /* Adjust this value to control horizontal spacing */
}

/* About Me Section */
#about p {
    letter-spacing: 1px; /* Add horizontal space between letters in the "About Me" section */
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #0056b3;
    color: #fff;
    padding: 20px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    text-align: left;
}

.header-right {
    text-align: right;
}

header h1 {
    margin: 0;
    font-size: 1.8em;
}

header p {
    margin: 5px 0 0;
    font-size: 1.2em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

h2 {
    color: #0056b3;
    margin-bottom: 10px;
}

.skills-list {
    list-style: none;
    padding: 0;
}

.skills-list li {
    background-color: #0056b3;
    color: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: inline-block;
}

.project-card {
    background-color: #f4f4f4;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
#contact a:visited {
    color: rgb(29, 51, 252);
    background-color: transparent;
    text-decoration: none;
}
.project-card a:visited {
    color: rgb(29, 51, 252);
    background-color: transparent;
    text-decoration: none;
}
